.currentPage {
    font-weight: bold;
    font-size: large;
}

.main {
    display: flex;
    justify-content: center;
}

.beginScale {
    display: flex;
    padding: 5px;
}

.maxValue {
    padding: 5px;
}