.userList {
    display: flex;
}

.userList a {
    color: white;
    text-decoration: none;
}

.userList a.activeLink {
    color: gold;
}

.avatar {
    width: 50px;
    border-radius: 50px;
}

.user {
    display: flex;
    align-items: center;
    padding-left: 10px;
}