.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messagesItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}